.main-wrapper {
width:80%;
display: flex;
margin: 1px auto;
flex-direction: column;
align-items: center;
}

.circle {
border: solid 4px #121212 ;
border-radius: 50%;
width: 100px;
height: 100px;
margin-top: 80px;
}

h2,h3 {
font-family: Cairo;

}
