@keyframes rotate360 {
  0% {
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(180deg);
  }
  100% {
    transform:rotate(360deg);
  }

}

@keyframes fade {
  0% {
opacity: 0;
 }

  100% {
  opacity: 1;;
  }

}
.main-wrapper {
width:80%;
display: flex;
margin: 1px auto;
flex-direction: column;
align-items: center;
animation: fade 0.8s ease-out;
animation-delay: 0.5s;
animation-fill-mode: both;
}

.circle {
border: solid 4px #121212 ;
border-radius: 50%;
width: 100px;
height: 100px;
margin-top: 80px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Open Sans";
font-weight: bold;
font-size: 3rem;
animation-name: rotate360;
animation-fill-mode: both;
animation-iteration-count: infinite;
animation-duration: 1s;
animation-timing-function: ease-in-out;
cursor: pointer;
}
.circle:hover{
  animation-play-state: paused;
}

h2,h3 {
font-family: Cairo;

}
.red {
  color : #da1f26;
}
a  , a:link, a:active , a:visited {
  color:rgba(0, 0, 0, 0.8);
  text-decoration: none;
  transition: all 0.2s ease-out;
}
a:hover{
  transform: rotate(3deg);
}

button {
border:0;
border-style:none;
outline: 0;
background-color: #121212;
color: #ffffff;
width: 150px;
height: 40px;
font-family: "Open Sans";
cursor: pointer;
transition:  all 0.2s ease-out;
border-radius: 5px;
/* text-transform: uppercase; */
}
button:hover {
transform: rotate(3deg);

}
.loading{
display: flex;
justify-content: center;
align-items: center;
margin:  0 auto;
margin-top: 40px;
transition: all 0.3s;

}
