<div class="loading" *ngIf="!finishloading">
  <div class="progress container">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
</div>
<div class="main-wrapper" *ngIf="finishloading">
<div class="circle">
  X
</div>
<h2>{{fullname}}</h2>
<h3 *ngIf="isMale">ذكر</h3>
<h3 *ngIf="!isMale">انثى</h3>
<h3>{{age}}  <span> عام</span> </h3>
<button (click)="random()">Regenerate</button>
<h3 class="red" *ngIf="toomuchclicks">
 تريد اسماء اخرى <a routerLink="/">اضغط هنا</a></h3>
</div>
